.job-listing-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
    background-color: #EEEEEE;

}

.job-listing {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.employer-logo {
  width: 100px;
  height: 100px;
}

h3 {
  margin: 10px 0;
}

.applylink {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.applylink:hover {
  color: hwb(211 0% 15%);
}

.no-job-listings-container {
  height: 85vh;
  background-color: #EEEEEE;
}

.loading-job-listings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: #EEEEEE; 
}

.job-listing > p{
  font-family: 'Source Sans Pro', sans-serif;
}

.job-listing > pre {
  font-family: 'Source Sans Pro', sans-serif;
  
  white-space: pre-wrap; /* Preserves whitespace but allows wrapping */
  word-wrap: break-word; /* Breaks long words if needed */
  overflow-wrap: break-word; /* Ensures long strings will wrap */
  max-width: 100%; /* Prevents the text from extending beyond the container */
}

.read-more {
  cursor: pointer;
  color: #000000;
}
.read-more:hover {
  color: #00ADB5;
}